html, body
{
	background-color: rgb(228, 236, 239);
}

body
{
	background-color: rgb(228, 236, 239);
}

.bar--count--tweet
{
	/*margin-top: 25%;*/
	border-bottom: 2px solid rgba(0,0,0,0.2);
}

.blue--link
{
	color: rgb(0, 166, 236);
}

.countbar a
{
	color: rgb(110, 128, 135);
}

.countbar a:hover
{
	color: rgb(0, 166, 236);
	text-decoration: none;
}

.resume--text
{
	color: rgb(110, 128, 135);
}

.cover--picture
{
	width: 100%;
	height: 600px;
}

.butt--edit
{
	border: 1px solid rgb(0, 166, 236);
	border-radius: 20px;
	background-color: white;
	color: rgb(0, 166, 236);
	transition: 0.3s;
}

.butt--edit:hover
{
	color: white;
	background-color: rgb(0, 166, 236);
}

.butt--retweet
{
	color: rgb(0, 166, 236);
	border: 1px solid rgb(0, 166, 236);
}

.butt--retweet:hover
{
	color: red;
}

.arrow--down
{
	font-size: 25px;
}

.star--icone
{
	color: #ECCC00;
}

.choose--img img
{
	border-radius: 100px;
	cursor: pointer;
}

.contain--profil--pic
{
	background-image: url("../../img/westcoastlogo.jpg");
	background-attachment: fixed;
	background-size: cover;
	height: 600px;
}

.form--profil--pic
{
	position: relative;
	top: 140px;
}

.butt--img--change
{
	color: white;
	font-size: 20px;
	transition: 0.3s;
}

.butt--img--change:hover
{
	color: rgba(0,0,0,0.2);
	cursor: pointer;
}

