body, html
{
	background-color: #FEEAFB;
}

.body--color
{
	background-color: #FEEAFB;
}

.contain--message
{
	transition: 0.2s;
}

.contain--message:hover
{
	background: rgb(0,0,0, 0.1);
}


.contain--all--messagerie
{
	border: 2px solid #FF9BF0;
	background-color: #FF9BF0;
	margin-top: 10%;
	border-radius: 10px;
}

.contain--all--msgpv
{
	border: 1px solid #FF9BF0;
	overflow: hidden;
	overflow: scroll;
	height: 500px;
	border-radius: 10px;
	background-color: #E6EFF1;
}

.button--newmsg
{
	border-radius: 20px;
	border: 1px solid rgb(0, 166, 236);
	color: rgb(0, 166, 236);
	background-color: white;
	transition: 0.3s;
}

.contain--all--messagerie .color--user 
{
	color: white;
}

.button--newmsg:hover
{
	border: 1px solid rgb(0, 166, 236);
	color: white;
	background-color: rgb(0, 166, 236);	
}

.button--newmsg:active
{
	background-color: rgb(0, 115, 184);	
}

div hr
{
	background: rgb(228, 236, 239);
}

.sendmsg
{
	border: 1px solid #FEEAFB;
	color: white;
	background-color: rgb(0, 166, 236);
	border-radius: 5px;
	transition: 0.3s;
}

.sendmsg:hover
{
	border: 1px solid rgb(0, 166, 236);
	color: rgb(0, 166, 236);
	background-color: white;	
}

.sendmsg:active
{
	border: 1px solid rgb(0, 166, 236);
	color: white;
	background-color: rgb(0, 115, 184);
}

.input--dest
{
	border: 2px solid rgb(0, 166, 236);
	margin:0;
}

.block--msg
{
	border-radius: 15px;
	border: 1px #FEEAFB;
	box-shadow: 0 0 10px;
	background-color: #FF9BF0;
}

.plane--send
{
	color: white;
}

.color--dark
{
	color: white;
	background-color: #FF9BF0;
}

.color--dark:hover
{
	color: #FF9BF0;
	background-color: white;
}

.color--dark:hover .plane--send
{
	color: #FF9BF0;
}