.contain--modif
{
	height: 100%;
}

.butt--tweet
{
	background-color: white;
	color: #2A3540;
	border: none;
	transition: 0.3s;
}

.butt--tweet:hover
{
	color: #871B00;
	text-decoration: none;
}

.butt--tweet:active
{
	border: 1px solid #2A3540;
}

.contain--count--tweet
{
	height: 100%;
	border-radius: 5px;
}

.contain--link--count--div
{
	border: 1px solid #2A3540;
	background-color: white;
}

.contain--link--count--div a
{
	color: #2A3540;	
}

.contain--link--count--div a:hover
{
	text-decoration: none;
	color: #871B00;
}

.contain--all--count
{
	height: 100%;
}

i	
{
	color: #2A3540;
	transition: 0.3s;
}

i:hover
{
	color: #871B00;	
}

.pseudo--link
{
	color: rgb(110, 128, 135);
	text-decoration: none;
	transition: 0.3s;
}

.pseudo--link:hover
{
	text-decoration: none;
}

.user--pseudo
{
	color: #2A3540;
	text-decoration: none;
	transition: 0.3s;
}

.user--pseudo:hover
{
	text-decoration: none;
}

.contain--tweet
{
	transition: 0.5s;
}

.contain--tweet:hover
{
	background-color: #2A3540;
	color: white;
}

.contain--tweet:hover .user--pseudo
{
	color: white;
}

.contain--tweet:hover button 
{
	color: white;
}

.contain--tweet:hover i 
{
	color: white;
}

.number
{
	color: #871B00;
}

.div--profile2 img
{
	position: relative;
	top: 40px;
	border-radius: 100px;
}

.pic--center--page img
{
	border-radius: 100px;
}

.user--circle
{
	font-size: 70px;
	color: #871B00;
}

.user--circle:hover
{
	color: #2A3540;
}

.warning--icone
{
	font-size: 60px;
}

.choose--img
{
	color: #2A3540;
}

.choose--img:hover
{
	color: #871B00;
}

button
{
	color: #2A3540;
	border: none;
	background-color: transparent;
}

.icon--top--comment
{
	font-size: 100px;
	color: rgba(0,0,0,0.1);
}

.sendrep
{
	font-size: 25px;
}

.content--rep
{
	color: rgb(110, 128, 135);
}

.answer
{
	background-color: rgba(110, 128, 135, 0.1);
	border-radius: 50px;
	height: 100%;
}

.day--comm
{
	font-size: 13px;
	color: rgb(110, 128, 135); 
}

.modif--visu--input
{
	transition: 0.3s;	
	color: rgb(0, 166, 236);
}

.modif--visu--input:hover
{
	color: rgb(110, 128, 135);
}

.block--string
{
	overflow-wrap: break-word;
}